<div class="post-header">
    {% if page.thumbnail %}
        <div class="thumbnail">
            <div class="transbox">
                {% if page.title %}
                    <span class="post-title">{{ page.title }} &#128395;</span>
                {% endif %}
                <div class="post-info">
                    <a class="link-category">
                        {% if page.parent %}
                            {{ page.parent }}
                        {% else %}
                            None
                        {% endif %}
                    </a>
                    <span class="post-date">
                        {% if page.title %}
                            · {{ page.date }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<main>
    {{ content }}
    {% unless page.close_comments %}
        <script src="https://giscus.app/client.js"
                data-repo="lilpyro/lilpyro.github.io"
                data-repo-id="R_kgDOKUicYA"
                data-category="General"
                data-category-id="DIC_kwDOKUicYM4CZbJU"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="preferred_color_scheme"
                data-lang="ko"
                crossorigin="anonymous"
                async>
        </script>
        <div class="giscus" style="margin: 2rem auto;"></div>
    {% endunless %}
</main>